@import "variables";
@import "global.scss";

.header {
  background-color: $header-bg;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: $header-text-color;

  .navbar {
    display: flex;
    gap: 20px;

    .nav-link {
      text-decoration: none;
      font-size: 1rem;
      color: $header-text-color;
      padding: 8px 12px;
      border-radius: 4px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $nav-link-hover-bg;
        color: $header-hover-text-color;
      }
      i {
        font-size: 1.2rem; 
      }
    }
  }
}
.change-color-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $header-hover-text-color;
  }

  &:focus {
    outline: none;
  }

  i {
    font-size: 1.2rem;
  }
}
.language-switcher {
  display: flex;
  gap: 10px;
}


.btnLanguage {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #333;
}

.btnLanguage.active {
  background-color: #007bff;
  color: white;
}

